# Data
data/*.parquet
*.parquet
data/cache/
data/*.csv
!data/forecast_tomorrow.csv
!data/thai_set100.txt
!data/nasdaq_stocks.txt

# Logs
logs/*.csv
!logs/performance_log.csv

# System
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
